<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.qiaoqiaochat.dao.MiUserModelMapper">
  <resultMap id="BaseResultMap" type="com.neo.qiaoqiaochat.model.domain.MiUserModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="mi_hao" jdbcType="VARCHAR" property="miHao" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="head_image_index" jdbcType="VARCHAR" property="headImageIndex" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
  </resultMap>
</mapper>