<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.qiaoqiaochat.web.dao.MiGroupUserRelationModelMapper" >
  <resultMap id="BaseResultMap" type="com.neo.qiaoqiaochat.web.model.domain.MiGroupUserRelationModel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="gid" property="gid" jdbcType="BIGINT" />
    <id column="uid" property="uid" jdbcType="BIGINT" />
    <result column="group_nick_name" property="groupNickName" jdbcType="VARCHAR" />
    <result column="msg_receive_setting" property="msgReceiveSetting" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>